/* sidebar */
div#sidebar{
	margin-top: 40px;
}

div#sidebar h3{
	margin-left: 10px;
	color: #1487D3;
	font-weight: bold;
}

div#sidebar ul {
	list-style-type: none;
	margin-top: 20px;
	font-weight: 100%;
}


/* sidebar2 */
div#sidebar2 {
	margin-top: 40px;
}

div#sidebar2 h3{
	margin-left: 10px;
	color: #1487D3;
	font-weight: bold;
}

div#sidebar2 ul {
	list-style-type: none;
	margin-top: 20px;
}

div#sidebar2 ul li a{
	font-size: 14px;
	display:block;
	text-align: center;
	height: 28px;
	width: 100px;
	padding-top: 8px;
}

div#sidebar2 ul li a:hover {
	background: #cccccc;
}

/* body */

body {
	background: #f1f2f3;
    font-family: "Microsoft YaHei", "微软雅黑";
}

div.container {
	background-color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.main {
	background-image: url(/assets/images/background_06.gif);
}

.shadow{
	background: #fff;
	box-shadow: 0 10px 50px black;

}

html .shadow{
	background: #fff;

	 -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=10) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=10) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=10) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=10)";

	 *filter: 
	 progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=10)
	 progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=10)
	 progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=10)
	 progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=10);
}

/* header */

img#logo {
	width: 120px;
	margin-top:10px;
	margin-left: 10px;
}

div#searchbar {
	float:right;
	margin-right: 100px;
}

header {
}

nav {
	display: inline;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	list-style-type: none;
	display: block;
	float: left;
	text-align: center;
}

nav ul li a {
	display: block;
	height: 20px;
	padding: 14px 0 0 0;
	font-weight: bold;
	color: gray;
	text-decoration:none;
}

nav ul li a:hover {
	color: black;
	text-decoration:none;
}

nav ul li.first.current-page {
	width: 138px;
	background-image: url("/assets/images/nav/nav-first-current-page.png");
}

nav ul li.first.not-current-page {
	width: 138px;
	background-image: url("/assets/images/nav/nav-first-not-current-page.png");
}

nav ul li.middle.current-page {
	width: 130px;
	background-image: url("/assets/images/nav/nav-middle-current-page.png");
}

nav ul li.middle.not-current-page {
	width: 130px;
	background-image: url("/assets/images/nav/nav-middle-not-current-page.png");
}

nav ul li.last.current-page {
	width: 133px;
	background-image: url("/assets/images/nav/nav-last-current-page.png");
}

nav ul li.last.not-current-page {
	width: 133px;
	background-image: url("/assets/images/nav/nav-last-not-current-page.png");
}

/* footer */

#footer {
	display: block;
	text-align: center;
	color: #999;
	height: 60px;
}


/* gallery */

div#image-and-description {
	border-right:solid;
	border-left:solid;
	border-bottom:solid;
	border-width:1px;
	border-color:#ddd;
	box-shadow: 0px 10px 20px #888888 inset;
}



a, a:hover {
	color:#000;	
	text-decoration:none;
	blr:expression(this.onFocus=this.close());
}


.large {
		font-size: 14px;
}

.small {
		font-size: 12px;
}

.time {
	text-align: right;
	font-size: 12px;
	color: #787878;
}

.color_fuscous {
		color: #323232;
}

.color_light {
		color: #787878;
}

.color_white {
		color: #FFF;
}
