/* sidebar */
div#sidebar{
	margin-top: 40px;
}

div#sidebar h3{
	margin-left: 10px;
	color: #1487D3;
	font-weight: bold;
}

div#sidebar ul {
	list-style-type: none;
	margin-top: 20px;
	font-weight: 100%;
}

/* body */

body {
	background: #f1f2f3;
    font-family: "Microsoft YaHei", "微软雅黑";
}

div.container {
	background: #FFF;
}

div.main {
	border-right:solid;
	border-left:solid;
	border-bottom:solid;
	border-width:1px;
	border-color:#e1e2e3;
	box-shadow: 0px 12px 20px #888888;
    background-image: url(/assets/images/background_06.gif);
}

/* header */

nav {
	display: inline;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	list-style-type: none;
	display: block;
	float: left;
	text-align: center;
	background-image: url("/assets/images/nav/nav.jpg");
}

nav ul li.not-current-page {
}

nav li:hover, nav li.current-page {
	background-image: url("/assets/images/nav/nav-hover.jpg");
}

nav ul li a {
	display: block;
	height: 24px;
	width: 100px;
	padding: 16px 0 0 0;
	font-weight: bold;
	color: gray;
	text-decoration:none;
}

nav ul li a:hover {
	color: black;
	text-decoration:none;
}

/* footer */

#footer {
	display: block;
	text-align: center;
	color: #999;
}


/* gallery */

div#image-and-description {
	border-right:solid;
	border-left:solid;
	border-bottom:solid;
	border-width:1px;
	border-color:#ddd;
	box-shadow: 0px 10px 20px #888888 inset;
}



a, a:hover {
	color:#000;	
	text-decoration:none;
}


.large {
		font-size: 14px;
}

.small {
		font-size: 12px;
}

.time {
	text-align: right;
	font-size: 12px;
	color: #787878;
}

.color_fuscous {
		color: #323232;
}

.color_light {
		color: #787878;
}

.color_white {
		color: #FFF;
}
